.popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.popup__overlay {
    background: rgba(37, 37, 37, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    backdrop-filter: blur(5px);
}

.popup__block {
    background: #FAFAFA;
    padding: 8px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    box-shadow: 0px 4px 10px 0px rgba(37, 37, 37, 0.15);
}


.popup__block_inner {
    width: 100%;
}

.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background: #FF5F57;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    line-height: 100%;
    color: #FF5F57;
    transition: all .3s ease-out;
}

.popup__close:hover {
    color: #fff;
}