.item {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background: transparent;
    border-radius: 15px;
    transition: all .3s ease-out;
    background: transparent;
    width: 100%;
    cursor: pointer;
}


.item:hover {
    background: rgba(255, 255, 255, 0.75);
}

.item:hover .item__right_like {
    transform: scale(1.25);
}

.item__left {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
}

.item__left_img {
    border-radius: 5px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    background: #f0f0f0;
}

.item__left_right {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item__left_name {
    font-size: 14px;
    color: rgba(37, 37, 37, 1);
    font-weight: 600;
    text-align: left;
}

.item__left_meta {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 12px;
    color: rgba(37, 37, 37, 0.75);
    font-weight: 500;
}





.item__right_authors {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    color: rgba(37, 37, 37, 0.75);
    font-weight: 500;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.item__right_authors a {
    transition: all .3s ease-out;
}

.item__right_authors a:hover {
    color: #38A65D;
}


.item__right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.item__right_like {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(37, 37, 37, 0.5);
    border-radius: 50px;
    font-size: 16px;
    transition: all .3s ease-out;
    cursor: pointer;
}

.added .item__right_like {
    background: #38A65D;
}

.item__right_like img {
    width: 14px;
    height: 14px;
    object-fit: contain;
}



.item:hover .item__right_like:hover {
    background: #252525;
}