.item_meta {
    height: 100%;
    padding: 50px 8px 16px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.item_meta__bottom {
    display: flex;
    flex-direction: row;
    gap: 6px;
    justify-content: flex-start;
    align-items: center;
}

.item_meta__add_btn {
    display: flex;
    box-sizing: border-box;
    width: fit-content;
    border-radius: 50px;
    padding: 8px 20px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    transition: all .3s ease-out;
    font-size: 15px;
    line-height: 125%;
    background: #38A65D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    box-shadow: 0px 2px 25px 0px rgba(37, 37, 37, 0.1);
}

.item_meta__add_btn svg {
    height: 17px;
    width: 17px;
    fill: #fff;
    transition: all .3s ease-out;
}

.item_meta__add_btn:hover {
    background: rgba(37, 37, 37, 0.75);
    color: #fff;
    transform: scale(1.025);
    box-shadow: 0px 4px 25px 0px rgba(37, 37, 37, 0.15);
}

.item_meta__add_btn:hover svg {
    fill: #fff;
}


.item_meta__spotify_btn {
    display: flex;
    box-sizing: border-box;
    width: fit-content;
    border-radius: 50px;
    padding: 8px 20px;
    cursor: pointer;
    color: #252525;
    font-weight: 500;
    transition: all .3s ease-out;
    font-size: 15px;
    line-height: 125%;
    background: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    box-shadow: 0px 2px 25px 0px rgba(37, 37, 37, 0.1);
}

.item_meta__spotify_btn svg {
    height: 17px;
    width: 17px;
    fill: #fff;
    transition: all .3s ease-out;
}

.item_meta__spotify_btn:hover {
    background: rgba(37, 37, 37, 0.75);
    color: #fff;
    transform: scale(1.025);
    box-shadow: 0px 4px 25px 0px rgba(37, 37, 37, 0.15);
}

.item_meta__spotify_btn:hover svg path {
    fill: #fff;
}