.header {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 300px 1fr;
    padding: 8px 8px 8px 0px;
    align-items: center;
}

.header__logo_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    height: 40px;
    width: fit-content;
}

.header__content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__content_left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.header__search_input {
    padding: 10px 20px;
    height: 46px;
    border-radius: 100px;
    box-shadow: 0px 2px 25px 0px rgba(37, 37, 37, 0.1);
    background: rgba(255, 255, 255, 0.45);
    font-size: 15px;
    font-weight: 500;
    line-height: 125%;
    transition: all .3s ease-out;
    backdrop-filter: blur(5px);
    width: 475px;
}

.header__search_input:hover {
    width: 500px !important;
}

.header__search_input:focus {
    border: none;
    outline: none;
    box-shadow: 0px 2px 25px 0px rgba(37, 37, 37, 0.15);
    width: 500px !important;
}

.header__home_btn {
    height: 46px;
    width: 46px;
    border-radius: 100px;
    box-shadow: 0px 2px 25px 0px rgba(37, 37, 37, 0.1);
    background: rgba(255, 255, 255, 0.45);
    transition: all .3s ease-out;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header__home_btn:hover {
    transform: scale(1.05);
}

.header__home_btn svg {
    width: 28px;
    height: 28px;
}