.sidebar {
    padding: 10px;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 20px;
    box-shadow: 0px 2px 25px 0px rgba(37, 37, 37, 0.1);
    height: 100%;
    position: sticky;
    top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    z-index: 100;
}

.sidebar__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sidebar__header_title {
    font-size: 15px;
    font-weight: 600;
    color: #252525;
    padding-left: 8px;
    opacity: .75;
}

.sidebar__header_add_btn {
    display: flex;
    box-sizing: border-box;
    width: fit-content;
    border-radius: 50px;
    padding: 8px 20px;
    cursor: pointer;
    color: rgba(37, 37, 37, 0.5);
    font-weight: 500;
    transition: all .3s ease-out;
    font-size: 15px;
    line-height: 125%;
    background: #e9e9e9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.sidebar__header_add_btn svg {
    height: 17px;
    width: 17px;
    fill: rgba(37, 37, 37, 0.5);
    transition: all .3s ease-out;
}

.sidebar__header_add_btn:hover {
    background: #38A65D;
    color: #fff;
}

.sidebar__header_add_btn:hover svg {
    fill: #fff;
}



.sidebar__form_add_folder {
    width: 100%;
    padding: 8px;
    border-radius: 16px;
    border: 1px solid rgba(37, 37, 37, 0.1);
}




.sidebar__folders {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
}

.sidebar__folder {
    cursor: pointer;
    padding: 8px 12px;
    transition: all .3s ease-out;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    font-size: 15px;
    font-weight: 400;
    color: #252525;
}

.sidebar__folder:global(.active) {
    background: #e9e9e9;
}

.sidebar__folder:global(.active) svg path {
    fill: #38A65D;
}

.sidebar__folder svg {
    width: 17px;
    height: 17px;
    object-fit: contain;
    fill: #252525;
    transition: all .3s ease-out;
}

.sidebar__folder:hover {
    background: #e9e9e9;
}