#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  padding: 8px;
  gap: 8px;
  height: 100vh;
}

.main {
  overflow-y: auto;
  position: relative;

}

/* Chrome / Safari */
.main::-webkit-scrollbar {
  width: 8px;
}

.main::-webkit-scrollbar-track {
  background: transparent;
}

.main::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 10px;
}

.main::-webkit-scrollbar-thumb:hover {
  background: #c3c3c3;
}


body {
  background: #f0f0f0;
}

.main_header {
  position: sticky;
  top: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  margin-bottom: 4px;
  margin-top: 8px;
}

.main_header::before {
  position: absolute;
  content: '';
  width: 100%;
  top: 0px;
  background: linear-gradient(180deg, rgba(240, 240, 240, 1) 0%, rgba(240, 240, 240, 0.65) 40%, rgba(240, 240, 240, 0) 100%);
  height: 50px;
  z-index: 90;
}

.main_header__page_title {
  font-size: 22px;
  font-weight: 700;
  margin-left: 10px;
  z-index: 99;
  text-shadow: 0px 0px 15px rgba(240, 240, 240, 1);
  color: #252525;
}

.main_header__inner {}

.main_header__tools {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  position: relative;
  z-index: 99;
}


.main_header__delete_folder {
  width: 38px;
  height: 38px;
  border-radius: 100px;
  box-shadow: 0px 2px 25px 0px rgba(37, 37, 37, 0.1);
  background: rgba(255, 255, 255, 0.45);
  transition: all .3s ease-out;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main_header__delete_folder:hover {
  transform: scale(1.06);
  background: rgba(255, 56, 59, 0.25);
  box-shadow: 0px 2px 25px 0px rgba(255, 56, 59, 0.25);
}

.main_header__delete_folder:hover svg {
  fill: #FF383C;
}

.main_header__delete_folder svg {
  width: 20px;
  height: 20px;
  object-fit: contain;
  fill: #252525;
  transition: all .3s ease-out;
}

.menu__box {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.45);
  display: flex;
  flex-direction: row;
  gap: 1px;
  backdrop-filter: blur(5px);
  box-shadow: 0px 2px 25px 0px rgba(37, 37, 37, 0.1);
  transition: all .3s ease-out;
}

.menu__box:hover {
  transform: translateX(-50%) scale(1.01);
}

.menu__box button {
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  color: rgba(37, 37, 37, 0.5);
  font-weight: 500;
  transition: all .3s ease-out;
  font-size: 15px;
  line-height: 125%;
}

.menu__box button.active {
  background: #38A65D;
  font-weight: 600;
  color: #fff;
  cursor: default;
}

.menu__box button.active:hover {
  background: #38A65D;
}

.menu__box button:hover {
  background: #e9e9e9;
}

.folder__albums {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

.folder__albums_title {
  font-size: 22px;
  font-weight: 700;
  margin-left: 10px;
}