@import "tailwindcss";

@theme {
    --color-theme-black: #252525;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(./fonts/Inter-Italic-VariableFont_opsz\,wght.ttf);
    font-style: italic;
}

.default_input_sm {
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid rgba(37, 37, 37, 0.10);
    font-size: 13px;
    line-height: 125%;
    transition: all .3s ease-out;
}

.default_input_md {
    padding: 10px 20px;
    border-radius: 100px;
    box-shadow: 0px 2px 25px 0px rgba(37, 37, 37, 0.1);
    background: rgba(255, 255, 255, 0.45);
    font-size: 13px;
    font-weight: 500;
    line-height: 125%;
    transition: all .3s ease-out;
}

.default_input_md:focus,
.default_input_md:hover {
    box-shadow: 0px 0px 10px 3px rgba(37, 37, 37, 0.15);
    border: none;
    transform: scale(1.02);
    outline: none;
}

.default_subtitle_sm {
    font-size: 15px;
    font-weight: 600;
}

.default_subtitle_md {
    font-size: 22px;
    font-weight: 600;
}

.default_subtitle_lg {
    font-size: 32px;
    font-weight: 700;
}



* {
    font-family: 'Inter', sans-serif;
}

.default_btn_primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 8px 20px;
    cursor: pointer;
    background: #38A65D;
    color: #fff;
    font-weight: 500;
    transition: all .3s ease-out;
    font-size: 15px;
    line-height: 125%;
    backdrop-filter: blur(5px);
}

.default_btn_destructive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 8px 20px;
    cursor: pointer;
    background: rgba(255, 56, 59, 0.25);
    color: #FF383C;
    font-weight: 500;
    transition: all .3s ease-out;
    font-size: 15px;
    line-height: 125%;
    backdrop-filter: blur(5px);
}

.default_btn_destructive:hover {
    background: rgba(140, 0, 0, 0.3);
    color: #D20000;
}

.default_btn_secondary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 8px 20px;
    cursor: pointer;
    background: #e9e9e9;
    color: #252525;
    font-weight: 500;
    transition: all .3s ease-out;
    font-size: 15px;
    line-height: 125%;
    backdrop-filter: blur(5px);
}

.default_btn_secondary:hover {
    background: #d3d3d3;
}

.default_title_md {
    font-size: 22px;
    line-height: 125%;
    font-weight: 700;
    width: fit-content;
    transition: all .3s ease-out;
}