@import "tailwindcss";

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(./fonts/Inter-Italic-VariableFont_opsz\,wght.ttf);
    font-style: italic;
}

.default_input_sm {
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid rgba(37, 37, 37, 0.10);
    font-size: 13px;
    line-height: 125%;
    transition: all .3s ease-out;
}

.default_input_md {
    padding: 10px 20px;
    border-radius: 100px;
    box-shadow: 0px 2px 25px 0px rgba(37, 37, 37, 0.1);
    background: rgba(255, 255, 255, 0.45);
    font-size: 13px;
    font-weight: 500;
    line-height: 125%;
    transition: all .3s ease-out;
}

.default_input_md:focus {
    box-shadow: 0px 0px 5px 3px rgba(56, 166, 93, 0.35);
    border: none;
    outline: 1px solid rgba(56, 166, 93, 0.75);
}

.default_subtitle_sm {
    font-size: 15px;
    font-weight: 600;
}



* {
    font-family: 'Inter', sans-serif;
}